.flex {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.horseInfo,
.horse {
  justify-content: space-around;
  margin-top: 1em;
}

.horseInfo {
  border: 1px solid black;
}

.horse {
  background-color: rgb(243, 239, 239);
  align-items: center;
}

.nameWidth {
  width: 5em;
}
