.horseUni {
  font-size: 1.5rem;
  color: beige;
  height: 4em;
  width: 4em;
  text-align: center;
}

.horse-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.horse1 {
  background-color: blueviolet;
}

.horse2 {
  background-color: lightskyblue;
}

.horse3 {
  background-color: lightseagreen;
}

.horse4 {
  background-color: hotpink;
}

.finishLine {
  background-color: brown;
  text-align: center;
  color: beige;
  font-size: 1.5rem;
  margin-top: 70vh;
}

.finishLine-btn {
  display: block;
  margin: 50% auto;
  width: 40vw;
  height: 10vh;
  font-size: 1rem;
  padding: 0.35em 1.2em;
  border: 1px solid rgb(243, 239, 239);
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

.finishLine-btn:hover {
  color: #fffdf0;
  background-color: rgb(211, 67, 199);
}

.finishLine-btn:active {
  box-shadow: 0 5px rgb(170, 170, 170);
  transform: translateY(2px);
}
